html {
  background: url("https://img.freepik.com/free-vector/flat-comic-style-background_23-2148882944.jpg?t=st=1645743388~exp=1645743988~hmac=542ef864dc8f6dcb56a1f249c2b73fc1c313e8eefc5a41ff61ed63a1a83cd802&w=900")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.heading {
  font-size: 35px;
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(47, 0, 255),
    0 0 5px rgb(60, 0, 139);
  font-family: "Impact", "Charcoal", "sans-serif";
  text-align: center;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 25px;
  color: rgb(209, 209, 209);
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(47, 0, 255),
    0 0 5px rgb(60, 0, 139);
  font-family: "Impact", "Charcoal", "sans-serif";
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}
img.tableImage {
  max-width: 40px;
}
#fastestPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Impact", "Charcoal", "sans-serif";
}

#fastestPlayerHeader {
  color: white;
}

table,
td {
  background-color: rgba(255, 187, 0, 0.685);
  text-align: center;
  border: 1px solid purple;
  border-radius: 8px;
}
td {
  padding: 15px;
}
