* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url("https://img.freepik.com/free-vector/blue-sunburst-abstract-vintage-background_349999-40.jpg?w=900")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(47, 0, 255),
    0 0 5px rgb(60, 0, 139);
  font-family: "Impact", "Charcoal", "sans-serif";
}

button {
  font-size: 35px;
  color: rgb(182, 182, 182);
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(47, 0, 255),
    0 0 5px rgb(60, 0, 139);
  background: none;
  border: none;
  padding-left: 0.5em;
  padding-top: 0.2em;
  font-family: "Impact", "Charcoal", "sans-serif";
}

.container {
  height: 100 vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  display: grid;
  grid-template-columns: repeat(5, 6.5rem);
  grid-template-rows: repeat(4, 6.5rem);
  grid-gap: 1.3rem;
  perspective: 800px;
  margin-top: 0.1rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 767px) {
  section {
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: repeat(5, 5rem);
  }
}

@media screen and (max-width: 480px) {
  section {
    grid-template-columns: repeat(2, 4rem);
    grid-template-rows: repeat(10, 4rem);
  }
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}
.face,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.back {
  background-color: rgb(48, 184, 252);
  backface-visibility: hidden;
}

.toggleCard {
  transform: rotateY(180deg);
}

#timer {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #4c12a8;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 2 px solid purple;
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(47, 0, 255),
    0 0 5px rgb(60, 0, 139);
  background: none;
  font-family: "Impact", "Charcoal", "sans-serif";
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
