body {
  background-color: antiquewhite;
}
.topnav {
  background-color: rgb(253, 209, 152);
  text-align: center;
  overflow: hidden;
}
.navtext {
  text-decoration: none;
  color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 5vw;
  font-weight: bold;
}
